* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1e1e1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 770px;
  height: 500px;
  background-color: #a1a1a1;
  border-radius: 9px;
  box-shadow: 0px 0px 5px #666;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
  position: relative;
}
/* .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.3);
} */
.container .images-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: all 2s;
  width: 3000px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  /* animation-name: motion;
  animation-duration: 15s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 3s; */
}
/* @keyframes motion {
  0% {
    left: 0px;
  }
  50% {
    left: -1000px;
  }

  100% {
    left: -2000px;
  }
} */
/* .container .images-container .slide-num {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 27x;
} */
.container .images-container .image {
  flex-basis: 1024px;
  /* transform: translate(-50%, -50%); */

  transition: all 1s;
}
/* @keyframese slide-motion {
    0%{

    }
} */
/* .container .image:hover {
  transform: translateX(100px);
} */
.container .image img {
  width: 1000px;
  max-height: 100%;
}

.container .control-button {
  width: 55px;
  height: 37px;
  text-align: center;
  background-color: lightblue;
  border: 1px solid darkblue;
  border-radius: 21px;
  color: black;
  font-size: 11px;
  line-height: 32px;
  opacity: 0.8;
}
.next {
  position: absolute;
  top: 50%;
  right: 30px;
}
.previous {
  position: absolute;
  top: 50%;
  left: 30px;
}
.container ul {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
}
.container ul li {
  line-height: 2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightblue;
  margin: 0 7px;
  opacity: 0.9;
  font-size: 16x;
  color: #e1e1e1;
}
.container ul li.active {
  background-color: rgb(128, 128, 226);
  box-shadow: 0px 0px 5px rgb(128, 128, 226);
  opacity: 0.8;
}
